# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local data and environment
.venv/
.env
data/
results/
kaggle.json
.streamlit/

# Operating System files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/